//This is where we put global styles and change variables values

//Import Lato and Nunito Font

@import url('https://fonts.googleapis.com/css?family-Lato:400,700|Nunito:400,700');

$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0,100,80);

//Update bulma`s global variables

$family-sans-seriff:"Nunito", sans-serif;
$primary:$green;


//Update some of bulma`s component variables

$control-border-width:2px;
$input-border-color:transparent;
$input-shadow:none;

//Import custom to global project style

html{
    background: linear-gradient(to right top, $turquoise, $green);

}

html,body{
    height: 100%;
}