<div class="centered-content">  
    <div class="task-manager-container">    
        <div class="sidebar has-background-white">  
            <h1 class="title has-text-primary">
                List
             </h1>

             <div class="list-menu">    
                 <a class="list-menu-item is-active">
                     <p>List</p>
                 </a>
                 <a class="list-menu-item">
                    <p>List</p>
                </a>
                <a class="list-menu-item">
                    <p>List</p>
                </a>
                <a class="list-menu-item">
                    <p>List</p>
                </a>
             </div>

             <button class="button is-primary has-text-white">+ New List </button>

        </div>

        <div class="task-list-container has-background-light">   
            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <!--Task Elements-->

            <div class="task complete">
                <p>
                 this is something I have to do   
                </p>
            </div>

            <div class="task">
                <p>
                 this is something I have to do   
                </p>
            </div>

            <div class="task">
                <p>
                 this is something I have to do   
                </p>
            </div>
        </div>

    </div>


</div>